<!DOCTYPE html>
<!-- You Win! -->
<html lang="en">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Murder Mystery</title>
    </head>
    <body style="color:white">
        <div class="header">
            <h1>Murder Mystery!</h1>
        </div>
        <h2> YOU WIN!!!! </h2>
        <h2> THIS WAS CS50 </h2>
        <h2> See you soon! </h2>
    </body>
</html>
